// custom colours

$nav-bg: #fff;
$content-bg: #fff;

$color__background-body: $nav-bg;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #ff9c9c;
$color__text-input-focus: #ff9c9c;
$color__link: #ff9c9c;
$color__link-visited: #ff9c9c;
$color__link-hover: #ffcd39;
$color__text-main: #dedede;
$color__text-header: #ff9c9c;
$color__accent: #ff9c9c;
$color__secondary-accent: #ffcd39;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;