.concerts {
	.entry-header {
		@include column(12);
		@include min-screen(1024px) {
			margin-top: 0;
			text-align: center;
		}
	}
	.site-events {
		@include min-screen(1024px) {
			@include column(9);
			height: auto;
		}
	}
	.event {
		@include min-screen(1024px) {
			min-height: 340px;
		}
	}
	.sidebar {
		@include column(12);
		@include min-screen(1024px) {
			@include column(3);
		}
		iframe {
			max-width: 100%;
		}
		input, -webkit-input {
			border-radius: 0;
		    border: 1px solid black;
		    padding: 5px;
		    transition: 0.25s all ease;
		}
		input.search-submit:hover, -webkit-input.search-submit:hover {
			background: #EAEFF2;
		}
	}
}