.site-header {
	@include min-screen(1024px) {
		position: absolute;
		top: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 2;
	}
}

.logged-in .site-header {
	@include min-screen(1024px) {
		top: 32px;
	}
}

.site-branding {
	@include wrapper();
	@include min-screen(480px) {
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.site-main {
	@include min-screen(1024px) {
		margin-top: 50px;
	}
	@include wrapper();
}

.main-navigation {
	@include column(12);
	display: none;
	@include min-screen(1024px) {
		position: relative;
		@include column(8);	
	}
	ul {
		display: inline-flex;
		align-items: center;
		padding: 0;
	}
	li {
		@include font-size(0.9);
		text-transform: uppercase;
		list-style-type: none;
		margin: 0 15px;
		height: 35px;
		&.current_page_item > a {
			font-weight: bold;
		}
	}
	a {
		text-decoration: none;
		color: $color__text-dark;
		&:active, &:hover {
			text-decoration: underline;
		}
	}
}

.hero {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.menu-item-has-children {
	.sub-menu {
		@include min-screen(1024px) {
			display: none;
			position: absolute;
		}
		li {
			margin: 0;
		}
	}
	&:hover, &:focus, &:active {
		.sub-menu {
			@include min-screen(1024px) {
				display: block;
			    position: absolute;
		        background-color: #fff;
		        z-index: 3;
		        padding: 10px 15px;
		        top: 45px;
		        width: 225px;
		        border-top: 5px solid #333;
			}
		}
		.sub-menu li {
			text-transform: none;
		}
	}
}

.slicknav_menu {
	@include min-screen(1024px) {
		display: none;
	}
}