@import 'home';

.type-page {
	.entry-header {
	}
}

.no-hero, .woocommerce-checkout, .single-product .site-content, .woocommerce-cart, .post-type-archive {
	@include min-screen(1024px) {
		margin-top: 150px;
	}
}

// search tool
input, -webkit-input {
	border-radius: 0;
    border: 1px solid black;
    padding: 5px;
    transition: 0.25s all ease;
}
input.search-submit:hover, -webkit-input.search-submit:hover {
	background: #EAEFF2;
}

.hero-wrapper {
	position: relative;
	@include min-screen(1024px) {
		max-height: 85vh;
		overflow: hidden;
	}
	.read-more {
		position: absolute;
		bottom: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.9);
		padding: 10px 20px;
	}
	a:hover {
		text-decoration: none;
	}
}

.search-results {
	.page-header {
		@include min-screen(1024px) {
			margin-top: 150px;
		}	
	}
	h2 {
		text-transform: none;
		@include font-size(1.75);
	}
	.content-area {
		@include column(12);
	}
}

.entry-content {
	@include column(12);
}

// search

.search-results {
	.entry-header {
		margin-top: 0;
	}
}

// sponsors

.page-id-75, .page-id-3 {
	.site-content {
		@include min-screen(1024px) {
			margin-top: 100px;
		}
	}
	h2 {
		margin-top: 50px;
		clear: both;
	}

	.sponsor {
		@include column(6);
		@include min-screen(1024px) {
			@include column(3);
		}
	}
	.main-sponsor {
		@include column(12);
		@include min-screen(1024px) {
			@include column(6);
		}
	}
	.row {
		clear: both;
		.clearfix:after {
		   content: " ";
		   visibility: hidden;
		   display: block;
		   height: 0;
		   clear: both;
		}
	}
}

// noon with june
.page-id-99 {
	.sidebar {
		@include column(12)
		@include min-screen(1024px) {
			@include column(3);
		}
		iframe {
			max-width: 100%;
		}
	}
	.content {
		@include column(12);
		@include min-screen(1024px) {
			@include column(9);
		}
	}
}

// blog index
.blog {
	.site-content {
		@include min-screen(1024px) {
			margin-top: 100px;
		}
	}
	.type-post {
		@include column(12);
	}
	.entry-content {
		padding: 0;
	}
	.entry-footer {
		display: none;
	}
	.entry-title {
		margin-bottom: 0;
	}
}

// adrian bio
.page-id-148 {
	.site-content {
		@include min-screen(1024px) {
			margin-top: 100px;
		}
	}
}